.ex-detail {
  background-color: #ededed;
}
.ex-detail-img {
  position: relative;
  background-color: #000;
  padding: 10px 0 30px;
}
.ex-detail-img img {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
.ex-detail-img .ex-detail-look {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  z-index: 10000;
}
.ex-detail-img .ex-detail-look > span:first-child {
  width: 32px;
  height: 24px;
  background-image: url("../assets/chakan@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ex-detail-img .ex-detail-look > span:last-child {
  padding-left: 10px;
  font-size: 22px;
  color: #fff;
}
.ex-detail-context {
  padding: 0 30px;
  text-align: justify;
}
.ex-detail-context_title {
  font-size: 42px;
  color: #020202;
  line-height: 60px;
  padding: 30px 0;
}
.ex-detail-context_subtitle {
  font-size: 24px;
  color: rgba(2, 2, 2, 0.8);
  line-height: 33px;
}
.ex-detail-context_text {
  padding: 30px 0;
  font-size: 28px;
  color: rgba(2, 2, 2, 0.91);
  line-height: 42px;
}
.ex-detail-context_text p {
  text-indent: 2em;
}
